fastapi
uvicorn[standard]
python-dotenv
openai
pydantic
pandas
openpyxl
python-multipart
requests
llama-cpp-python
transformers
sentence-transformers
psutil
chromadb==1.3.5
pinecone
langchain>=0.1.0
langchain-openai
langchain-pinecone
langchain-community
